code
  font-size 1.5rem
  padding .3rem .9rem

.content__default
  pre, pre[class*="language-"]
    line-height .8
    padding 1rem
    min-width 60vw
    margin 0.85rem 0
    border-radius 6px
    overflow auto
    code
      font-size: .8rem
      color #fff
      padding 0
      background-color transparent
      border-radius 0